/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.card img {
	width:100%;
}
button a {
    color: white !important;
}
button a:hover {
    background: transparent;
}
.product-full-image img {
    width: 100% !important;
}

.new-product {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
