@media only screen and (max-width: 767px) {

  .mobile-banner img {
      width: 100%;
      display: block !important;
  }

  .mobile-banner{
    position: relative;
  }

	div#myCarousel {
		display: none;
	}

  .mobile-banner-caption {
    position: absolute;
    right: 30%;
    left: 35%;
    top: 60%;
    text-align: center;
    display: block !important;
  }

}

.mobile-banner img {
    display: none;
}

.mobile-banner-caption {
  display: none;
}

.carousel {
    margin-bottom: 0 !important;
}

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  padding-top: 0px !important;
}

body, p, ol, ul, td {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
    background: transparent !important;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.login-page {
    min-height: 400px;
}

/*****************NAV BAR STYLES*********************/

nav.bg-light {
    background-color: gray !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-size: 16px;
}

.navbar-light .navbar-brand {
    color: white !important;
}

/***************************END***********************/

/*****************HOME PAGE STYLES***********************/

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9 !important;
    border-color: #0062cc;
}

/************************END*****************************/

/*****************PRODUCT PAGE STYLES***********************/

.text-center {
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  text-align: center;
  padding-bottom: 40px;
}

/************************END*****************************/

/*****************LOGIN PAGE STYLES***********************/

.center-align {
  text-align: center;
}

/************************END*****************************/

/*****************SIGN UP PAGE STYLES***********************/

.center-align {
  text-align: center;
}

/************************END*****************************/
